<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <select id="category" class="form-control btn-info">
        <option value="">All Categories</option>
        <% @categories.each do |category| %>
          <% selected = (@category && @category.to_i == category.id) ? "selected" : nil %>
          <option value="<%= category.id %>" <%= selected %>><%= category.title %></option>
        <% end %>
      </select>
    </div>

    <%= render "shared/search" %>

  </div>
</div>

<br>

<%= render "shared/lender_thumbnail" %>

<%= will_paginate @loan_requests %>

<%= render "category_filter.js" %>
      .loan_requests << loan_request
